<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ba.unsa.etf.rma.rma_t1_z1">

    <!--Bez ovog taga, nece biti moguce ood korisnika zatraziti pritup-->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--"GTALK" je skracenica ga "Google Talk", poznat kao "Google Hangout"-->
        <receiver android:name=".MojReciever"  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity android:name=".MuzicarActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

    </application>

    <!--NAPOMENA: vrlo je vazno za u tagu "data" bude "mimeType", a ne neki drugi-->

    <!--Jedan activity moze imati vise "intent-filter" tagova u kojima se mogu nalaziti "action", "category" i "data" tagovi razliciti
    od onih koji se nalaze u drugom "intent-filteru" istog aktivitija-->

    <!--Kada su se nalazili u istom "inten-filteru" akcija "send" i  akcija "main" nije se app spasavala na mob -->

    <!--"android.intent.action.MAIN" means that this activity is the entry point of the
    application, i.e. when you launch the application, this activity is created.-->

    <!--"android.intent.category.DEFAULT" is mainly used for implicit intents. If your activity wishes to be
    started by an implicit intent it should include this catetory in its filter. If your Activity might be started
     by an implicit Intent when no specific category is assigned to it, its Intent filter should include this category.-->

</manifest>